html{
    max-width: 1800px;
    font-family: Verdana, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
header{
    background-color: rgb(255, 255, 255);
    max-width: 1800px;
    height: 64px;
    top: 0px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    opacity: 1;
}
header img{
    height: 50px;
    margin-left: 20px;
}
header h1{
    margin-left: 10px;
    color:rgb(82, 81, 81);
    font-size: 24px;
}
header h1 span{
    opacity: 0.7;
}
.headerul{
    display:flex;
    list-style: none;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 24px;
}
.headerul li {
    color:rgb(82, 81, 81);
    margin-left: 16px;
}
.headerul li a{
    text-decoration: none;
    margin-left: 16px;
    color:rgb(82, 81, 81);
}
.headerul li a:hover{
    text-decoration: none;
    font-weight: bold;
}


/* Header ok */

main{
    top: 64px;
    max-width: 1800px;
    width: 100%;
    display: block;
    justify-content: center;
    left: 0%;
    opacity: 1;
}
.learn{
    background-color: rgb(216, 216, 216);
    height: 600px;
    display: grid;
    grid-template-columns: 24px 60% 24px auto;
    grid-template-rows: 32px auto 32px;
    justify-content: center;
}
.learn .learnimg{
    background-image: url("./images/banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.learn .learntext{
    background-color: rgb(216, 216, 216);
    height: 100%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  auto 150px 100px 100px auto;
}
.learntext h2{
    color:rgb(82, 81, 81);
    font-size: 44px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow: hidden;
    margin-bottom: 0px;
}
.learntext h3{
    color:rgb(82, 81, 81);
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    overflow: hidden;
    margin-top: 0px;
}
.button1{
    width: 80%;
    margin-right: 0px;
    margin-left: 24px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}
.button1:hover{
    opacity: 0.7;
}
.button1 .text2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 a{
    background-color: rgb(82, 81, 81);
    font-size: 30px;
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 8px;
    width: 100%;   
}
/* ok pour le moments*/
.practice{
    height: 600px;
    display: flex;
    margin-bottom: 32px;
}
.practice .practiceimg{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 60%;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 66% auto;
}
.practiceimg .img2{
    background-image: url("./images/information-main.jpg");
    background-size: 90%;
    height: 100%;
    width: 104%;
    background-repeat: no-repeat;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 0px;
}
.practiceimg .text2{
    height: content;
    position: relative;
    width: 90%;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 0px;
    margin-bottom: 32px;
}
.text2 h2{
    margin-top: 32px;
    color:rgb(74, 74, 74);
}
.text2 p{
    margin-top: 24px;
    color: rgb(124, 124, 124);
}
.text2 h5{
    margin-top: auto;
    margin-bottom: 32px;
    color: rgb(74, 74, 74);
}
.practice .practicebutton{
    margin-right: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    height: auto;
    width: 40%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.4% 33.4% 33.4%;
}
.practicebutton .orientation{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:  auto 16px 16px;
    overflow: hidden;
}
.practicebutton .orientation:hover{
    opacity: 0.7;
}
.orientation .orientationimg{
    background-image: url("./images/information-orientation.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 16px;
}
.orientation .orientationtext{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 81%;
    margin-top: 0px;
}
.orientationtext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.orientationtext h4{
    color: rgb(74, 74, 74);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 8px;
    width: 90%;
}
.orientationtext a{
    color: rgb(74,144,226);
    font-size: 16px;
    font-weight: lighter;
    width: 90%;
}
.practicebutton .campus{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:  auto 16px 16px;
    overflow: hidden;
}
.practicebutton .campus:hover{
    opacity: 0.7;
}
.campus .campusimg{
    background-image: url("./images/information-campus.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 16px;
}
.campus .campustext{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 81%;
    margin-top: 0px;
}
.campustext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.campustext h4{
    color: rgb(74, 74, 74);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 8px;
    width: 90%;
}
.campustext a{
    color: rgb(74,144,226);
    font-size: 16px;
    font-weight: lighter;
    width: 90%;
}
.practicebutton .guest{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:  auto 16px 16px;
    overflow: hidden;
}
.practicebutton .guest:hover{
    opacity: 0.7;
}
.guest .guestimg{
    background-image: url("./images/information-guest-lecture.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 16px;
}
.guest .guesttext{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 81%;
    margin-top: 0px;
}
.guesttext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.guesttext h4{
    color: rgb(74, 74, 74);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 8px;
    width: 90%;
}
.guesttext a{
    color: rgb(74,144,226);
    font-size: 16px;
    font-weight: lighter;
    width: 90%;
}
/*Ok revoir code plus court en haut*/

.start{
    background-color: rgb(216, 216, 216);
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 72px auto 72px;
    grid-template-rows: 100px auto 32px;
    justify-items: center;
    
}
.start h2{
    color: rgb(74, 74, 74);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.start .course{
    background-size: 100%;
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}
.course .software{
    background-color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .software:hover{
    opacity: 0.7;
}
.softwareimg{
    background-image: url("./images/course-software.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.softwaretext{
    margin-left: 16px;
}

.softwaretext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.softwaretext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.softwaretext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
.course .art{
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .art:hover{
    opacity: 0.7;
}
.artimg{
    background-image: url("./images/course-computer-art.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.arttext{
    margin-left: 16px;
}

.arttext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.arttext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.arttext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
.course .design{
    background-color: rgb(255, 255, 255);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .design:hover{
    opacity: 0.7;
}
.designimg{
    background-image: url("./images/course-design.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.designtext{
    margin-left: 16px;
}

.designtext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.designtext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.designtext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
.course .data{
    background-color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .data:hover{
    opacity: 0.7;
}
.dataimg{
    background-image: url("./images/course-data.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.datatext{
    margin-left: 16px;
}

.datatext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.datatext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.datatext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
.course .business{
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .business:hover{
    opacity: 0.7;
}
.businessimg{
    background-image: url("./images/course-business.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.businesstext{
    margin-left: 16px;
}

.businesstext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.businesstext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.businesstext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
.course .marketing{
    background-color: rgb(255, 255, 255);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
}
.course .marketing:hover{
    opacity: 0.7;
}
.marketingimg{
    background-image: url("./images/course-marketing.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.marketingtext{
    margin-left: 16px;
}

.marketingtext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}
.marketingtext h4{
    color: rgb(124, 124, 124);
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 16px;
}
.marketingtext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 80%;
}
/*ok simplifier code*/
.thesis{
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 32px;
    justify-items: center;
    
}
.thesis h2{
    color: rgb(74, 74, 74);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.thesis .reimg{
    background-size: 100%;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 24px auto 24px 40% 12px;
    grid-template-rows: 100%;
}
.reimg .reimgvideo{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
}
.reimgvideo .reimgvideo1{
    width: 100%;
    height:auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.reimgvideo .reimgtext1{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.reimgtext1 h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px;
}
.reimgtext1 p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 90%;
}
.reimg .column{
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% auto;
}
.column .fisma{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 16px 35% 16px auto;
    grid-template-rows: 16px auto 16px;
}
.column .fisma:hover{
    opacity:0.7;
}
.fisma .fismaimg{
    background-image: url("./images/thesis-fisma.jpg");
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.fisma .fismatext{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.fismatext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.fismatext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 90%;
}
.column .now{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 16px 35% 16px auto;
    grid-template-rows: 16px auto 16px;
}
.column .now:hover{
    opacity:0.7;
}
.now .nowimg{
    background-image: url("./images/thesis-now-and-then.jpg");
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.now .nowtext{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.nowtext h3{
    color: rgb(74, 74, 74);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.nowtext p{
    color: rgb(124, 124, 124);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 0px;
    width: 90%;
}
footer{
    bottom: 0px;
    max-width: 1800px;
    width: 100%;
    height: 100px;
    left: 0%;
    border-top: 1px inset;
    border-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 16px 35% auto 10% 16px 10% 16px;
    grid-template-rows: 16px auto;
}
footer h4{
    margin-top: 0px;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    opacity: 0.5;
}
footer .terms{
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: end;
    font-weight: lighter;
    color: black;
    opacity: 0.5;
    text-decoration-line: none;
}
footer .terms:hover{
    opacity: 1;
  }
footer .privacy{
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: end;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    opacity: 0.5;
    text-decoration-line: none;
}
footer .privacy:hover{
  opacity: 1;
}

/* Mobile app
to erase*/

@media only screen and (min-width: 501px) {
.appima1{
    display:none;
}
.appima2{
    display:none;
}
.appima3{
    display:none;
}
}

/* to add*/
@media only screen and (max-width: 500px) {
    body{
        background-color: rgb(255, 255, 255);
        max-width: 500px;
        margin: 0px;
    }
    header{
        background-color: rgb(255, 255, 255);
        max-width: 500px;
        height: 64px;
        top: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
    }
    .ima1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-start: 1;
        justify-self: center;
    }
    .appima1{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-start: 1;
        justify-self: center;
    }
    .appima2{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-start: 1;
        justify-self: center;
    }
    .appima3{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-start: 1;
        justify-self: center;
    }
    .ima1:hover{
        opacity: 0.7;
    }
    .appima1:hover{
        opacity: 0.7;
    }
    .appima2:hover{
        opacity: 0.7;
    }
    .appima3:hover{
        opacity: 0.7;
    }
    header h1{
        display: none;
    }
    .headerul li {
        display: none;
    }
    main{
        top: 64px;
        max-width: 500px;
        width: 100%;
        display: block;
        justify-content: center;
        left: 0%;
        opacity: 1;
    }
    .learn{
        background-color: rgb(216, 216, 216);
        height: 600px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 32px auto;
        justify-content: center;
    }
    .learn .learnimg{
        background-image: url("./images/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .learn .learntext{
        background-color: rgb(216, 216, 216);
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-rows:  auto 32px auto 24px auto 32px;
    }
    .learntext h2{
        color:rgb(82, 81, 81);
        font-size: 44px;
        font-weight: bold;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        overflow: hidden;
        margin-top: 0px;
    }
    .learntext h3{
        color:rgb(82, 81, 81);
        font-size: 20px;
        font-weight: bold;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        overflow: hidden;
        margin-top: 0px;
    }
    .button1{
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 5;
        margin-left: 0px;
    }
    .button1 .text2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text2 a{
        background-color: rgb(82, 81, 81);
        font-size: 30px;
        color:rgb(255, 255, 255);
        text-align: center;
        text-decoration: none;
        padding: 8px;
        width: 100%;   
    }
    /*ok*/
    .practice{
        height: 1200px;
        display: grid;
    }
    .practice .practiceimg{
        display: none;
    }
    .practice .practicebutton{
        margin-right: 0px;
        margin-top: 32px;
        margin-bottom: 32px;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.4% 33.4% 33.4%;
    }
    .practicebutton .orientation{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-rows:  16px 58% 32px auto 16px;
    }
    .orientation .orientationimg{
        background-image: url("./images/information-orientation-mobile.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 0px;
    }
    .orientation .orientationtext{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
        width: 100%;
        height: 81%;
        margin-top: 0px;
    }
    .orientationtext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .orientationtext h4{
        color: rgb(74, 74, 74);
        font-size: 16px;
        font-weight: lighter;
        margin-top: 0px;
        margin-bottom: 8px;
        width: 90%;
    }
    .orientationtext a{
        color: rgb(74,144,226);
        font-size: 16px;
        font-weight: lighter;
        width: 90%;
    }
    .practicebutton .campus{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-rows:  16px 58% 32px auto 16px;
    }
    .campus .campusimg{
        background-image: url("./images/information-campus-mobile.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 0px;
    }
    .campus .campustext{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
        width: 100%;
        height: 81%;
        margin-top: 0px;
    }
    .campustext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .campustext h4{
        color: rgb(74, 74, 74);
        font-size: 16px;
        font-weight: lighter;
        margin-top: 0px;
        margin-bottom: 8px;
        width: 90%;
    }
    .campustext a{
        color: rgb(74,144,226);
        font-size: 16px;
        font-weight: lighter;
        width: 90%;
    }
    .practicebutton .guest{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-rows:  16px 58% 32px auto 16px;
    }
    .guest .guestimg{
        background-image: url("./images/information-guest-lecture-mobile.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 0px;
    }
    .guest .guesttext{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
        width: 100%;
        height: 81%;
        margin-top: 0px;
    }
    .guesttext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .guesttext h4{
        color: rgb(74, 74, 74);
        font-size: 16px;
        font-weight: lighter;
        margin-top: 0px;
        margin-bottom: 8px;
        width: 90%;
    }
    .guesttext a{
        color: rgb(74,144,226);
        font-size: 16px;
        font-weight: lighter;
        width: 90%;
    }
    /* ok */
    .start{
        background-color: rgb(255, 255, 255);
        height: 600px;
        width: 100%;
        display: grid;
        grid-template-columns: 16px 1fr 16px;
        grid-template-rows: 70px auto 32px;
        justify-items: center;
        
    }
    .start h2{
        color: rgb(74, 74, 74);
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .start .course{
        height: 100%;
        max-width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 8px;
    }
    .course .software{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .softwareimg{
        display:none;
    }
    .softwaretext{
        width: 100%;
    }
    
    .softwaretext h3{
        
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .softwaretext h4{
        display: none;
    }
    .softwaretext p{
        display: none;
    }
    .course .art{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .artimg{
        display:none;
    }
    .arttext{
        width: 100%;
    }
    
    .arttext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .arttext h4{
        display: none;
    }
    .arttext p{
        display: none;
    }
    .course .design{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .designimg{
        display:none;
    }
    .designtext{
        width: 100%;
    }
    
    .designtext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .designtext h4{
        display: none;
    }
    .designtext p{
        display: none;
    }
    .course .data{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .dataimg{
        display:none;
    }
    .datatext{
        width: 100%;
    }
    
    .datatext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .datatext h4{
        display: none;
    }
    .datatext p{
        display: none;
    }
    .course .business{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .businessimg{
        display:none;
    }
    .businesstext{
        width: 100%;
    }
    
    .businesstext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .businesstext h4{
        display: none;
    }
    .businesstext p{
        display: none;
    }
    .course .marketing{
        background-color: rgb(216, 216, 216);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 6;
    }
    .marketingimg{
        display:none;
    }
    .marketingtext{
        width: 100%;
    }
    
    .marketingtext h3{
        color: rgb(74, 74, 74);
        font-size: 24px;
        font-weight: bold;
        width: fit-content;
        margin-top: 16px;
    }
    .marketingtext h4{
        display: none;
    }
    .marketingtext p{
        display: none;
    }
    /* ok*/
    .thesis{
        background-color: rgb(255, 255, 255);
        height: 450px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px auto 32px;
        justify-items: center;
        
    }
    .thesis h2{
        color: rgb(74, 74, 74);
        text-align: center;
        margin-top: 32px;
        margin-bottom: 32px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .thesis .reimg{
        background-size: 100%;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
    }
    .reimg .reimgvideo{
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .reimgvideo .reimgtext1{
        display: none;
    }
    .reimg .column{
        display: none;
    }
    /* ok*/
    footer{
        bottom: 0px;
        max-width: 500;
        width: 100%;
        height: 70px;
        left: 0%;
        border-top: none;
        border-color: rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-rows: 16px auto;
    }
    footer h4{
        margin-top: 0px;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        font-weight: lighter;
        font-size: 16px;
        color: black;
        opacity: 0.5;
    }
    footer .terms{
        display: none;
    }
    footer .privacy{
        display: none;
    }
}